* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    overflow: hidden;
}

$tablet-screen: 768px;
$desktop-screen: 1200px;

@mixin linear-gradient-allmenu(){
    background: linear-gradient(to top, orange , rgb(244, 176, 128));
}